In [1]:
import pandas as pd
from tqdm import trange
import tweepy
import pickle

In [2]:
with open('../Data/Interim/congress.pkl', 'rb') as congress:
    congress = pickle.load(congress)

In [4]:
with open('../Data/Interim/congress.pkl', 'rb') as trump:
    trump = pickle.load(trump)

In [6]:
# Concatinating the congress with Trump
congress_tweets = pd.concat([congress, trump])

In [44]:
congress_tweets.shape

(5682662, 10)

In [45]:
# Removing duplicates
congress_tweets.drop_duplicates(keep='first', inplace=True)

In [46]:
congress_tweets.shape

(2182792, 10)

In [115]:
# Getting handles
medias = pd.read_table('../Data/Raw/LargestMedia.csv', sep=';')
twitter_handles = pd.read_table('../Data/Processed/Twitter_Handles.csv', sep = ',')

In [131]:
medias['State'] = None
medias['Party'] = None
medias['Type'] = 'Media'
medias.rename(columns={'Twitter name': 'Twitter', 'Media': 'Name'}, inplace=True)

In [132]:
Data_Full = pd.concat([twitter_handles, medias])

In [171]:
Data_Full

,Unnamed: 0,State,Party,Type,Twitter,Name
0,0.0,AS,R,Representative,RepTomPrice,Aumua Radewagen
1,1.0,AZ,R,Senator,JeffFlake,Jeff Flake
2,2.0,AZ,R,Senator,SenJonKyl,Jon Kyl
3,3.0,CA,D,Representative,reppeteaguilar,Peter Aguilar
4,4.0,CA,D,Representative,repcardenas,Tony Cardenas
...,...,...,...,...,...,...
11,NaN,None,None,Media,thehill,The Hill
12,NaN,None,None,Media,politico,POLITICO
13,NaN,None,None,Media,WSJ,The Wall Street Journal
14,NaN,None,None,Media,TheEconomist,The Economist
15,NaN,None,None,Media,HuffPost,HuffPost

In [48]:
congress_tweets[congress_tweets['retweet'] != False].shape

(526721, 10)

In [135]:
retweets_pd = congress_tweets[congress_tweets['retweet'] != False]

In [174]:
#retweets_pd['retweet'].iloc[1] in Data_Full['Twitter']

Data_Full[Data_Full['Twitter'] == 'KamalaHarris']
#[i for i in retweets_pd['retweet'] if i.isin(Data_Full['Twitter'])]

     Unnamed: 0 State Party     Type       Twitter           Name
117       117.0    CA     D  Senator  KamalaHarris  Kamala Harris

In [220]:
retweets_pd[retweets_pd['retweet'].isin(Data_Full.Twitter)]

,user_id,user_name,id,created_at,text,retweet,retweet_count,favorite_count,in_reply_to_status_id,in_reply_to_user_id
787078,29501253,Adam Schiff,824411350420127745,2017-01-26 00:19:17,Executive orders to break up families in Calif...,KamalaHarris,757,0,NaN,NaN
787222,41417564,Rep. Lloyd Smucker,824583733693075457,2017-01-26 11:44:16,We will use the Congressional Review Act to re...,GOPLeader,230,0,NaN,NaN
787232,2863006655,Brenda Lawrence,824598117857292290,2017-01-26 12:41:26,A day that I will always remember. #tbt #resis...,RepBonnie,12,0,NaN,NaN
787242,231510077,Joaquin Castro,824608733456138243,2017-01-26 13:23:37,Chaffetz: I’m looking into Trump D.C. hotel le...,politico,117,0,NaN,NaN
787249,3353670647,Archive: Dan Donovan,824616666818629632,2017-01-26 13:55:08,The #GOPretreat is about bringing the @HouseGO...,cathymcmorris,21,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
686947,294126378,Sen. Grassley Press,1258164623724994560,2020-05-06 22:39:56,Cong Schiff is withholding transcripts from Am...,ChuckGrassley,8912,0,NaN,NaN
686948,294126378,Sen. Grassley Press,1258164631379509249,2020-05-06 22:39:58,The more we learn about Russia probe the more ...,ChuckGrassley,2472,0,NaN,NaN
686954,13218102,Senator John Cornyn,1258166106625323009,2020-05-06 22:45:50,Cong Schiff is withholding transcripts from Am...,ChuckGrassley,8912,0,NaN,NaN
686958,20747881,Kyrsten Sinema,1258167579560030211,2020-05-06 22:51:41,https://t.co/mesroAUIu7,SenatorSinema,370,0,NaN,NaN
686976,29442313,Bernie Sanders,1258172305844428805,2020-05-06 23:10:28,This isn’t difficult. We need to protect front...,SenJeffMerkley,294,0,NaN,NaN

In [221]:
retweets_pd.shape

(526721, 10)

In [ ]:
# Who retweets who